/venv/
.env
/.idea/.gitignore
/.idea/encodings.xml
/.idea/lenta_online_bot1.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
